@media (max-width: 900px) {
    br {
        display: none;
    }

    .section {
        padding: 3rem 0rem;
    }

    .title {
        font-size: 32px;
        letter-spacing: -1px;
        line-height: 130%;
    }

    .nav-container {
        position: relative;
        padding: 7px 14px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 100px;
    }

    .nav-logo h1 {
        font-size: 1.8rem;
        text-align: left;
    }

    .nav-list {
        position: absolute;
        top: 120%;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1.2rem;
        gap: 1.5rem;
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 99;
        border-radius: 10px;
    }

    .nav-list.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-btn {
        display: none;
    }

    /* Header */
    .hero {
        padding: 6rem 1rem 8rem 1rem;
        flex-direction: column;
        text-align: center;
    }

    .hero-title h1 {
        font-size: 34px;
        line-height: 120%;
        letter-spacing: -1px;
    }

    .hero-title p {
        font-size: 16px;
        max-width: 100%;
        line-height: 150%;
    }

    .hero-form {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    .hero-form form {
        flex-direction: column;
        align-items: stretch;
    }

    .hero-form input,
    .hero-btn {
        width: 100%;
    }

    /* Serve Content */
    .serve-content {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }

    .serve-content_card {
        padding: 1.5rem;
        gap: 2rem;
        text-align: center;
    }

    .serve-card_icon i {
        font-size: 3rem;
    }

    .serve-card-content h6 {
        font-size: 18px;
        line-height: 140%;
    }

    /* Solution */
    .solution-content {
        flex-direction: column;
        gap: 2rem;
    }

    .solution-card {
        width: 100%;
        padding: 1.5rem;
    }

    .solution-card_title h2,
    .solution-card_title i {
        font-size: 1.25rem;
    }

    /* Choose Section */
    .choose-content {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .choose-content-card {
        width: 100%;
        max-width: 100%;
    }

    .choose-card-img {
        height: 200px;
        background-size: cover;
    }

    .choose-content-card h2 {
        font-size: 22px;
        line-height: 130%;
    }

    /* Case Section */
    .case-content {
        flex-direction: column;
        gap: 2rem;
    }

    .case-content-main {
        gap: 2rem;
    }

    .case-img,
    .case-briefing {
        width: 100%;
        padding: 40px 20px;
    }

    .case-briefing h1 {
        font-size: 28px;
        text-align: left;
    }

    .case-second {
        flex-direction: column-reverse;
    }

    /* Insight Section */
    .insight-title {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
    }

    .insight-title h1 {
        text-align: center;
    }

    .insight-content {
        flex-direction: column;
        align-items: center;
    }

    .insight-card {
        width: 100%;
    }

    /* FAQ Section */
    .faq-card {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .number {
        width: auto;
        min-width: 48px;
    }

    /* Contact Section */
    .contact-callout {
        height: auto;
        padding: 4rem 1rem;
        text-align: center;
    }

    .contact-callout-title h1 {
        font-size: 32px;
    }

    .contact-cc-btn {
        margin-top: 1.5rem;
    }

    .footer-container {
        padding: 2rem 1rem;
    }

    .footer-main {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-desc,
    .footer-list-cont {
        width: 100%;
    }

    .footer-list-cont {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-sub {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .footer-socials {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    /* Other Pages */
    /* Contact Pages */
    .contact-page_info {
        grid-template-columns: 1fr;
    }

    .contact-form-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .contact-form,
    .contact-form-desc {
        width: 100%;
    }

    .form-input_cont {
        flex-direction: column;
        gap: 1rem;
    }

    .extra {
        width: 100%;
    }

    .contact-desc-list li {
        align-items: flex-start;
    }

    .contact-desc h6 {
        font-size: 20px;
    }

    .contact-desc-info {
        font-size: 14px;
    }

    .contact-page-form {
        gap: 2rem;
    }

    /* Solution page */
    .solutions-category {
        margin-top: 40px;
    }

    .solutions-category h3 {
        font-size: 1.5rem;
        gap: 0.5rem;
    }

    .solutions-category h3 i {
        display: none;
    }

    .solutions-grid {
        flex-direction: column;
        gap: 1.5rem;
    }

    .solution-page-card {
        width: 100%;
    }

    .solution-page-card h4 {
        font-size: 1rem;
    }

    .solution-page-card p {
        font-size: 0.9rem;
    }

    /* Service Page */
    .services-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .services-card {
        padding: 20px;
        gap: 1.5rem;
    }

    .services-card-desc h6 {
        font-size: 20px;
        line-height: 140%;
    }

    .services-card-desc p {
        font-size: 13px;
        line-height: 160%;
    }

    .services-card-icon {
        font-size: 4rem;
        padding-top: 1rem;
    }

    .btn-services {
        font-size: 0.95rem;
        flex-wrap: wrap;
        gap: 6px;
    }

    /* About Page */
    .company-main_container {
        padding: 30px;
    }

    .company-main_container img {
        width: 100%;
        height: auto;
    }

    .integration-stats-wrapper {
        grid-template-columns: 1fr;
        border-right: 1px solid #ffffff1a;
    }

    .integration-card {
        border-right: none;
        padding: 24px 16px;
    }

    .single-counter {
        flex-direction: column;
        gap: 1rem;
    }

    .counter {
        font-size: 40px;
    }

    .company-container {
        flex-direction: column;
        gap: 2rem;
    }

    .company-desc,
    .company-scroll {
        width: 100%;
        position: static;
    }

    .company-card-title h2 {
        font-size: 28px;
    }

    .company-card-title p {
        font-size: 14px;
    }

    .are-title {
        flex-direction: column;
        gap: 1rem;
    }

    .are-title_left,
    .are-title_right {
        width: 100%;
        text-align: left;
    }

    .are-content {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .are-content_card {
        padding: 16px;
    }

    .are-icon {
        width: 80px;
    }

    .are-card-desc h4 {
        font-size: 20px;
    }

    .partners-content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .partners-card {
        padding: 32px 20px;
    }

    .brand-logos {
        width: 100px;
    }

    .testimonials-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .single-testimonial {
        flex: 0 0 100%;
        padding: 20px;
    }

    .testimonial-author {
        flex-direction: row;
        align-items: center;
    }

    .testimonial-author-image {
        width: 48px;
        height: 48px;
    }

    .testimonial-author-name {
        font-size: 0.95rem;
    }

    .testimonial-author-designation {
        font-size: 0.8rem;
    }

    .testimonial-content {
        font-size: 0.9rem;
    }

    .testimonials-content {
        gap: 1rem;
    }
}