@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --head-family: 'Funnel Display', sans-serif;
    --body-family: 'Poppins', sans-serif;
    --body-color: #06040b;
    --text-white: #ffffff;
    --text-black: #000000;
    --primary-color: #7c43ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--body-family);
    padding: 0rem 0rem 5rem 0rem;
    background-color: var(--body-color);
    font-size: 15px;
}

/* Utilities */
.container {
    width: 90%;
    margin: 0 auto;
}

.section {
    padding: 5rem 0rem;
}

.section-title {
    text-align: center;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.title-span {
    font-weight: 500;
    font-size: 16px;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--head-family);
    color: var(--text-white);
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--text-white);
}

.title {
    font-family: var(--head-family);
    color: var(--text-white);
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 56px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}

input,
button {
    font-family: inherit;
}

input::placeholder {
    color: var(--text-white);
}

/* Button styles */
.button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}

.btn-nav {
    padding: 18px 24px;
    background-image: radial-gradient(circle closest-corner at 50% 101%, var(--primary-color), #1e0b4a);
    border: 1px solid #fff3;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-case {
    padding: 18px 24px;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #fff3;
    background: rgba(255, 255, 255, 0.08);
    /* translucent */
    backdrop-filter: blur(12px);
    /* frosted glass effect */
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */
    transition: background-image 0.3s ease, border-color 0.3s ease;
}

.btn-case:hover {
    background-image: radial-gradient(circle closest-corner at 50% 101%, var(--primary-color), #1e0b4a);
    border-color: #fff3;
}

/* loader styles */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 20px;
}

.spinner img {
    display: block;
    position: relative;
    z-index: 2;
}

.spinner .ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border: 5px solid var(--primary-color);
    border-top: 5px solid var(--body-color);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Navigation */
nav {
    background: transparent;
    padding: 1.7rem 0rem 0rem 0rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0px;
}

.nav-logo h1 {
    font-family: var(--head-family);
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#af9dff, #6340fc);
    -webkit-background-clip: text;
    background-clip: text;
}

.span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#af9dff, #6340fc);
    -webkit-background-clip: text;
    background-clip: text;
}

.active-li {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#af9dff, #6340fc);
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 18px 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 100px;
}

.nav-list li,
a {
    font-weight: 500;
    color: #fff;
}

.nav-list li a:hover {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#af9dff, #6340fc);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.nav-toggle span {
    height: 3px;
    width: 25px;
    background: var(--text-white);
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Header styles */
header {
    background-image: url('../images/header.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.page-header {
    background-image: url('../images/page-header.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    padding: 10rem 0rem 13rem 0rem;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-title {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    display: flex;
}

.page-title {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero-title h1 {
    color: var(--text-white);
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 72px;
    font-weight: 600;
    line-height: 110%;
}

.hero-title p {
    opacity: .7;
    color: var(--text-white);
    max-width: 575px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.hero-form {
    max-width: 432px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 12px;
}

.hero-form form {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-form input {
    width: 60%;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    background: transparent;
    color: var(--text-white);
}

.hero-btn {
    width: 40%;
}

/* Serve Section */
.serve-content {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}

.serve-content_card {
    grid-column-gap: 20px;
    grid-row-gap: 160px;
    background-color: #0e0b16;
    border-radius: 16px;
    flex-flow: column;
    padding: 24px;
    display: flex;
    gap: 3rem;
    text-align: center;
    color: var(--text-white);
}

.serve-card_icon i {
    vertical-align: middle;
    font-size: 5rem;
    font-weight: 900;
}

.serve-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.serve-card-content h6 {
    letter-spacing: -.3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

/* Solution Section */
.solution {
    background-color: #0e0b16;
}

.solution-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
}

.solution-card {
    width: 49%;
    padding: 20px;
    background-color: var(--body-color);
    border-radius: 12px;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.solution-card_title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.solution-card_title h2 {
    font-size: 1.5rem;
}

.solution-card_title i {
    font-size: 1.5rem;
}

.btn-solution {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#af9dff, #6340fc);
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: underline;
}

/* Choose Section */
.choose-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.choose-content-card {
    width: 32%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: #0e0b16;
    opacity: 1;
}

.choose-card-img {
    background-image: url('../images/service-1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 270px;
    background-color: #0e0b16;
    border-radius: 16px;
}

.two-img {
    background-image: url('../images/service-4.png');
}

.three-img {
    background-image: url('../images/service-3.png');
}

.four-img {
    background-image: url('../images/service-4.png');
}

.choose-card-content {
    padding: 20px;
    color: var(--text-white);
}

.choose-content-card h2 {
    letter-spacing: -.5px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    line-height: 135%;
}

/* Case Section */
.case-content-main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.case-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-img {
    background-image: url("../images/case-img-wrapper.avif");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 49%;
    padding: 80px 76px;
}

.case-briefing {
    width: 42%;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.case-briefing h1 {
    z-index: 1;
    color: var(--text-white);
    text-align: left;
    letter-spacing: -1.5px;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
}

.case-list-cont {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.case-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.case-list-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.case-list-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.case-list-title h6 {
    font-family: var(--body-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
}

.case-list-content p {
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    display: inline-block;
}

/* Insight Section */
.insight-title {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insight-title h1 {
    text-align: left;
}

.insight-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.insight-card {
    width: 32%;
    background-color: #0e0b16;
    border-radius: 16px;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
}

.insight-card_img img {
    border-radius: 16px 16px 0px 0px;
}

.insight-card_desc {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.btn-insight {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 01rem;
}

/* FAQ Section */
.faq {
    padding-bottom: 7rem;
}

.faq-container {
    align-items: center;
}

.faq-title {
    text-align: center;
}

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.faq-card {
    background-color: var(--body-color);
    border: 1px solid var(--text-white);
    border-radius: 16px;
    padding: 20px;
    color: var(--text-white);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
}

.faq-question {
    background: none;
    border: none;
    color: var(--text-white);
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

.faq-question:hover {
    color: var(--primary-color);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--text-white);
    margin-top: 0.5rem;
}

/* Add active class styling */
.faq-card.active .faq-answer {
    max-height: 300px;
}

.number {
    background-color: #0e0b16;
    border-radius: 12px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    height: 48px;
    display: flex;
    color: var(--text-white);
    letter-spacing: -.2px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}

.faq-content-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Contact Section */
.contact-callout {
    background-image: url('../images/contact-img.avif');
    background-position: top;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-callout-title {
    color: var(--text-white);
    text-align: center;
}

.contact-cc-btn {
    margin-top: 2rem;
}

/* Footer Section */
.footer-container {
    background-color: #0e0b16;
    border-radius: 20px;
    padding: 40px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-desc p {
    color: var(--text-white);
    opacity: .5;
}

.footer-list-cont {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-list li {
    color: var(--text-white);
    opacity: .5;
}

.footer-list h3 {
    margin-bottom: 1rem;
}

.footer-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-social {
    background-color: #ffffff0d;
    border-radius: 8px;
    flex-flow: column;
    padding: 8px;
    transition: background-color .5s;
    display: flex;
    position: relative;
}

.footer-copyrights {
    color: var(--text-white);
    opacity: .5;
}


/* Other Pages */
/* Contact Pages */
.contact-page_container {
    gap: 5rem;
}

.contact-page_info {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}

.contact-page_card {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    background-color: #0e0b16;
    -webkit-backdrop-filter: blur(36px);
    backdrop-filter: blur(36px);
    border: 1px solid #fcfdf20d;
    border-radius: 16px;
    flex-flow: column;
    align-items: flex-start;
    padding: 24px 20px 20px;
    display: flex;
}

.contact-icon {
    border: 1px solid var(--primary-color);
    background-color: #9747ff1a;
    border-radius: 16px;
    padding: 8px;
}

.contact-desc {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    display: flex;
}

.contact-desc h6 {
    color: var(--text-white);
    letter-spacing: -.3px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

.contact-desc-info {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-flow: column;
    display: flex;
    opacity: .7;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 400;
}

.contact-title {
    text-align: left;
}

.contact-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--text-white);
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input label {
    color: var(--text-white);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--head-family);
}

.form-input input,
textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #ffffff1a;
    font-size: 16px;
    color: var(--text-white);
    background-color: #0e0b16;
    height: 54px;
}

.form-input input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.form-input input::placeholder,
textarea::placeholder {
    color: var(--text-white);
    opacity: 0.2;
    font-size: 14px;
}

.form-input textarea {
    height: auto;
}

.contact-form-desc {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.form-input_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.extra {
    width: 49%;
}

.btn-form {
    border-radius: 100px;
    background-color: var(--text-white);
    color: #0e0b16;
    font-weight: 500;
}

.contact-desc-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-desc-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-desc-list li img {
    width: 30px;
}

.contact-desc-list li i {
    font-size: 1.5rem;
}

/* About or Company Page */
.company-main_container {
    background-color: #0e0b16;
    padding: 60px;
    border-radius: 20px;
}

.company-main_container img {
    border-radius: 20px;
}

/* Intergration */
.integration-stats {
    padding: 60px 20px;
    background-color: var(--body-color);
    color: var(--text-white);
}

.integration-stats-wrapper {
    border: 1px solid #ffffff1a;
    border-right-width: 0;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.integration-card {
    grid-column-gap: 32px;
    grid-row-gap: 322px;
    border-right: 1px solid #ffffff1a;
    flex-direction: column;
    padding: 32px 20px;
}

.integration-icon {
    width: 64px;
}

.integration-text {
    flex-flow: column;
    display: flex;
}

.single-counter {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    display: flex;
}

.counter {
    font-size: 56px;
    font-weight: 400;
    color: var(--primary-color);
}

.integration-text h4 {
    color: #757575;
    font-size: 14px;
    padding-bottom: 8px;
}

.integration-text p {
    font-size: 16px;
    font-weight: 500;
}

/* Company Section */
.company-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.company-desc {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 120px;
}

.company-desc h3 {
    font-size: 20px;
    font-weight: 400;
}

.company-desc p {
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    color: #ebebed;
}

.company-scroll {
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.company-scroll_card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company-card_icon {
    width: 80px;
}

.company-card-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.company-card-title h2 {
    font-size: 36px;
    font-weight: 500;
}

.company-card-title p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-white);
}

/* Are Section */
.are {
    background-color: #0e0b16;
}

.are-title {
    display: flex;
    justify-content: space-between;
}

.are-title_left {
    width: 50%;
    text-align: left;
}

.are-title_left h1 {
    text-align: left;
}

.are-title_right {
    width: 50%;
    opacity: .7;
    font-size: 16px;
    color: var(--text-white);
    line-height: 28px;
}

.are-content {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.are-content_card {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border: 1px solid #ffffff1a;
    border-radius: 16px;
    flex-flow: column;
    padding: 16px 16px 32px;
    display: flex;
}

.are-card-img {
    background-image: linear-gradient(302deg, #0000, #ffffff1a);
    border: 1px solid #ffffff1a;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
}

.are-icon {
    width: 124px;
}

.are-card-desc {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    text-align: center;
    flex-flow: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    color: var(--text-white);
}

.are-card-desc h4 {
    font-size: 28px;
    font-weight: 400;
}

.are-card-desc p {
    opacity: .7;
}

/* Partners Section */
.partners-content {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}

.partners-card {
    background-color: #0e0b16;
    cursor: pointer;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 48px 40px;
    display: flex;
}

.brand-logos {
    opacity: .4;
    width: 150px;
    /* height: auto; */
}

/* Testimonial Section */
.testimonials-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-title {
    color: var(--text-white);
}

.testimonials-title h2 {
    text-align: left;
}

.testimonials-arrows {
    display: flex;
    gap: 10px;
}

.arrows {
    background-color: #ffffff1a;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    display: flex;
    inset: 0 0 auto auto;
    color: var(--text-white);
    cursor: pointer;
}

/*  */
.single-testimonial {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #ffffff22;
    border-radius: 16px;
    padding: 24px;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex: 0 0 32%;
    margin: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonial-top-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial-author-image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

.testimonial-author-details p {
    margin: 0;
    line-height: 1.4;
}

.testimonial-author-name {
    font-weight: 600;
    font-size: 1rem;
}

.testimonial-author-designation {
    font-size: 0.85rem;
    color: #ccc;
}

.testimonial-content {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #ddd;
}

.testimonials-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.testimonials-content {
    display: flex;
    flex-wrap: nowrap;
    /* disables wrapping */
    gap: 1.5rem;
    transition: transform 0.5s ease;
    will-change: transform;
}

/* Services Page */
.services-container {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.services-card {
    gap: 2rem;
    background-color: #0e0b16;
    border-radius: 16px;
    flex-flow: column;
    padding: 24px;
    display: flex;
}

.btn-services {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 01rem;
}

.services-card-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.services-card-desc h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150% 36px;
}

.services-card-desc p {
    opacity: .5;
    color: #ebebed;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
}

.services-card-icon {
    font-size: 7rem;
    font-weight: 600;
    display: flex;
    padding-top: 2rem;
}

/* Solution Page */
.solutions-category {
    margin-top: 60px;
}

.solutions-category h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.solutions-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.solution-page-card {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid #ffffff1a;
    padding: 24px;
    border-radius: 16px;
    transition: transform 0.3s ease;
    width: 32%;
}

.solution-page-card:hover {
    transform: translateY(-6px);
}

.solution-page-card i {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 0.75rem;
    display: block;
}

.solution-page-card h4 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
}

.solution-page-card p {
    color: #ccc;
    font-size: 0.95rem;
    line-height: 1.5;
}